.cruise-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
}

.card-image {
    margin: 0;
    padding: 0;
    height: 200px;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.cruise-card {
    border: grey 1px solid;
    border-radius: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    width: 400px;
    min-height: 250px;
    margin: 15px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    position: relative;

}

.cruise-card img {
    width: 400px;
    max-height: 200px;
}

.cruise-card h2 {
    margin: 0;
    padding: 12px;
    background-color: rgba(255,255,255,.75);
}

.cruise-card h4 {
    background-color: darkred;
    color: white;
    width: 50%;
    padding: 8px;
    margin: 0;
}

.cruise-card h3{
    margin: 0;
    padding: 0 0 4px 0;
    color: white;
    text-shadow: 0 0 3px black;
}


.cruise-card h2,
.cruise-card h3,
.cruise-card h4 {
    padding-left: 4px;
}

.port-o-call {
    padding: 10px 4px 0;
    font-size: 1em;
    margin: 0;
}

.my-button {
    width: 250px;
    padding: 10px 15px;
    border: darkred solid 3px;
    font-weight: 700;
    border-radius: 1px;
    font-size: 1.5rem;
    transition: 250ms;
    color: darkred;
    text-transform: uppercase;
}

.my-button:hover {
    background-color: darkred;
    color: white;
}



.port-list li::before {
    font-family: "Font Awesome 5 Pro", serif;
    font-weight: 100;
    padding: 1px 5px;
    display: inline-block;
    width: 15px;
    text-align: center;
    content: "\f192";
}

.port-list li:first-child::before {
    content: "\f3c5";
}

.port-list li:last-child::before {
    content: "\f3c5";
}

.bonus {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.num-nights {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
    background-color: darkred;
    width: 55px;
    height: 55px;
    padding: 12.5px 0;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    font-family: 'proxima-nova-soft', sans-serif;
}

.num-nights-num {
    line-height: 20px;
    font-size: 30px;
}

.num-nights-nights {
    font-size: 12px;
    text-transform: uppercase;
    line-height: 18px;
}